<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sxt.vo.t_user.mapper">
	<select id="list" resultType="T_user">
		select * from userName where userId = #{userId}
	</select>
	
	<select id="selectTuserByName" resultType="T_user" parameterType="Map">
		select * from t_user where userName = #{userName} and userPassword = #{userPassword} 
	</select>
	
	<!-- 添加用户 -->
  	<insert id="registerTuser" parameterType="Map" useGeneratedKeys="true">
  		insert into t_user(userName,userEmail,userPassword,userPhone) values(#{userName},#{userEmail},#{userPassword},#{userPhone})
  	</insert>
</mapper>